{% extends 'base.html' %}
{% block title %} Contacts {% endblock %}
{% block content %}
<br>
<!--
<html>

<head><title> Contacts </title><head>
<body>
-->
{% if info_send %}
	thanks for entering data..
	<br> This information has been received.. <br>
	<p>Email: {{email}}</p>
	<p>Title: {{title}}</p>
	<p>Text: <br><h5>{{text}}</h5></p>
{% else %}
	<form action="." method="POST">
		{% csrf_token %}
		{{form.as_p}}
	<input type="submit" value="submit"/>
	</form>
{% endif %}
<!--
</body>
</html>
-->
{% endblock %}
