{% extends 'base.html' %}
{% block title %} List of Products {% endblock %}
<!--
<html>
<head><title> Productions </title><head>
<body>
-->
{% block content %}
	<h1> This is Productions page </h1>

	<h2> Cataluge </h2>
<br>
{% if user.is_authenticated %}
	<a href="{% url "vista_add_product" %}"> Click here to add a product</a> <br>
{% endif %}

{% if productions %}
	{% for p in productions %}
		<p> <a href="/production/{{p.id}}/"> {{ p.number}}</a> </p>
	{% endfor %}
{% else %}
	<h2> Not any production exist.. </h2> 
{% endif %}

<br><br><br>	
{% if productions %}
	<a href="/productions/pages/1"> << </a>
	{% if productions.has_previous %}
		<a href="/productions/pages/{{productions.previous_page_number }}/"> Prev </a>
	{% else %}
		<a href="#"> Prev </a>
	{% endif %}
	{% if productions.has_next %}
		<a href="/productions/pages/{{productions.next_page_number }}/"> Next </a>
	{% else %}
		<a href="#"> Next </a>
	{% endif %}
	<a href="/productions/pages/{{productions.paginator.num_pages}}"> >> </a>
{% endif %}
<br><br><br>

<h4> Page {{ productions.number }} from {{ productions.paginator.num_pages }} </h4>

<!--
</body>

</html>
-->

{% endblock %}
