{% extends 'base.html' %}
{% block title %} Product {{ production.number}} {% endblock %}

{% block content %}
	<h2> {{ production.number }} </h2><br>
	<img src="/media/{{ production.image }}" width="250px" height="180px"/><br>
	<i> {{ production.description }} </i>
	<p> $ {{ production.price }} </p>
	<p> {{ production.stock }} item[s] available</p><br>
	<u><h5> Categories:</h5></u>
	{% for cat in category %}
		<span class="label label-info"> {{cat.number}}</span>
	{% endfor %}
	<br><br>
	{% if production.stock > 0 %}
		<a href="#" class="btn btn-primary"> Buy </a>
	{% endif %}
	<!--
	#<a href="/productions/pages/1/"> Return to the list </a>
	-->
	<a href="javascript:window.history.go(-1);" class="btn btn-primary"> Return to the list </a>
{% endblock %}
